SoundFile
munch
pydub
pyyaml
torch<2.6
torchaudio
librosa
pydub
pyyaml
librosa==0.9.2
numba==0.56.4
llvmlite==0.39.1
nltk
matplotlib
unidic-lite
xlstm
fugashi
cutlet
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
a_unet
git+https://github.com/resemble-ai/monotonic_align.git
tensorboard
phonemizer>=3.2.0
soundfile>=0.12.1
datasets
sentencepiece
openai-whisper
autoclip
VoPho
fsspec==2023.9.2