SoundFile
munch
pydub
pyyaml
torchaudio
librosa
pydub
pyyaml
nltk
matplotlib
unidic-lite
xlstm
fugashi
cutlet
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
a_unet
git+https://github.com/resemble-ai/monotonic_align.git